<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<<<<<<< HEAD
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/Jsda.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/home.js"></script>
=======
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Open+Sans+Condensed:100,200,300|Roboto:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
   
>>>>>>> eb50b25b8f7ffc13470be45218144ffe6ee310f6
</head>
<body>
    @{Html.RenderPartial("~/Views/Shared/_MenuPartial.cshtml"); }
    @{Html.RenderAction("MenuLeft", "Home");}
<<<<<<< HEAD
    <div class="container" style="margin: 0 auto; width: 960px; background:#fff;height:100%; ">
       
=======
    <div class="container" style="margin: 0 auto; width: 960px; background:#ffffff ">
>>>>>>> eb50b25b8f7ffc13470be45218144ffe6ee310f6
           @RenderBody()
    </div>
    <div class="col-md-12 " style="background:#ffffff;background:steelblue; padding:20px; color:#ffffff;margin:0 auto; width:960px">
        &copy; 2017 | &nbsp; All Rights Reserved | &nbsp; www.docshrae.com | &nbsp; 24x7 support | &nbsp; Email us: info@yourdomain.com
    </div>
    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
