<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    @{Html.RenderPartial("~/Views/Shared/_MenuPartial.cshtml"); }
    <div class="container">
        
        <div class="row">
            
            <div class="col-sm-3">
                @{Html.RenderAction("MenuLeft", "Home");}
            </div>
                
            <div class="col-sm-9">
                
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="col-md-12 " style="background:steelblue; padding:20px; color:#ffffff">
        &copy; 2017 | &nbsp; All Rights Reserved | &nbsp; www.docshrae.com | &nbsp; 24x7 support | &nbsp; Email us: info@yourdomain.com
    </div>
    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
