
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="form-group" >
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <img src="~/Content/Images/cooltext230047489617997.png" />
            </div>
        </div>
    </div>
    @{Html.RenderPartial("~/Views/Shared/_MenuPartial.cshtml"); }
    <div class="container">
        
        <div class="row">
            
            <div class="col-sm-3">
                
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Kỹ Thuật
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item"><a href="#"></a></li>
                                    @*<li class="list-group-item"><a href="#">Quản Trị Mang</a></li>
                                    <li class="list-group-item"><a href="#">Cơ Khí</a></li>
                                    <li class="list-group-item"><a href="#">Nhiệt Lạnh</a></li>
                                    <li class="list-group-item"><a href="#">Xây dựng-Kiến trúc</a></li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Kinh Tế
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item"><a href="#">Đông Phương Học</a></li>
                                    <li class="list-group-item"><a href="#">Tâm Lý Học</a></li>
                                    <li class="list-group-item"><a href="#">Giáo Dục</a></li>
                                    <li class="list-group-item"><a href="#">Lịch Sử</a></li>
                                    <li class="list-group-item"><a href="#">Ngôn Ngữ Học</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Xã Hội
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item"><a href="#">Quản Trị Kinh Doanh</a></li>
                                    <li class="list-group-item"><a href="#">Ngoại Thuong</a></li>
                                    <li class="list-group-item"><a href="#">Kế Toán</a></li>
                                    <li class="list-group-item"><a href="#">Ngân Hàng</a></li>
                                    <li class="list-group-item"><a href="#">Marketing</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <img src="~/Content/Images/cooltext230047489617997.png" />
    </div>
    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
