.border-1 {
    border: solid 1px grey;
}
.head-link {
    clear: both;
    height: 100px;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
    border-radius: 5px;
    background: #7ecfe9;
}
body {
          font-family:'Open Sans', sans-serif;
    font-size:14px;
}


.text-center {
    text-align:center;
}


h1, h2, h3, h4, h5, h6 {
    font-family:'Open Sans', sans-serif;
}
.alg-right-pad {
    float:right;
    padding-right:20px;
}
a:hover {
    text-decoration:none;
}

/*=======================================
  NAVBAR ADJUSTMENTS
==================================================*/
.navbar-brand {
font-size: 25px;
padding: 15px 80px 15px 60px;
}
.navbar-default .navbar-brand {
color: #000000;
}
.navbar-default {
background-color: #000000;
border-color: #000000;
}
.navbar {
 border-radius: 0px; 
}
.navbar-default .navbar-nav > li > a {
color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover {
color: #FFF;
}

.navbar-default .navbar-brand {
color: #FFFFFF;
}
.navbar-default .navbar-brand:hover {
color: #FFFFFF;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
color: #050505;
background-color: #FFFFFF;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
color: #000;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
color: #000;
}
.footer {
    padding:20px;
    color:#fff;
    background-color:#5331dd;
    font-size:14px;
}