@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDemo.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <img src="~/Content/Images/TL1.png" />
        </div>
        <div class="col-xs-12 col-md-8">
            <p>Thank you very much for your letter which arrived a few days ago. It was lovely to hear from you. I am sorry, I haven’t written for you such along time because I studied hard to pass the final exam. However, I had agreat weekend more than every when I went to live concerts last night with my friends. Now, I am writing to tell you how the wonderful concert is</p>
            <a href="#">Xem chi tiết...</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <img src="~/Content/Images/TL2.png" />
        </div>
        <div class="col-xs-12 col-md-8">
            <p>Thank you very much for your letter which arrived a few days ago. It was lovely to hear from you. I am sorry, I haven’t written for you such along time because I studied hard to pass the final exam. However, I had agreat weekend more than every when I went to live concerts last night with my friends. Now, I am writing to tell you how the wonderful concert is</p>
            <a href="#">Xem chi tiết...</a>
        </div>
    </div>     
</div>

