
@{
    ViewBag.Title = "Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="font" style="text-align:left"><i class="fa fa-book" aria-hidden="true"></i> Tài Liệu Nổi Bật</h3>


<div class="row">
    <div class="col-xs-12 col-sm-3">
        <a href="#"><img height="200" width="100%" src="~/Content/Images/tải xuống (2).jpg" /></a>
    </div>
    <div class="col-xs-12 col-sm-9">
        <h3><a href="#">Tìm hiểu công nghệ thông tin</a></h3>
        <p style="text-align:justify">
            Chương trình chú trọng nhiều đến việc phát triển các kiến thức chuyên môn nghiệp vụ và các kỹ năng mềm. Sinh viên được cung cấp kiến thức quản trị cũng như nắm vững kiến thức cơ bản của ngành tài chính, hiểu biết môi trường kinh doanh trong nước và quốc tế. Đặc biệt, sinh viên sẽ được học cách ứng dụng CNTT vào trong công việc, học cách tư duy công nghệ trong lĩnh vực chuyên môn.
        </p>
        <p>Lượt Xem: 36 | Lượt Down: 22 </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-3">
        <a href="#"><img height="200" width="100%" src="~/Content/Images/tải xuống (2).jpg" /></a>
    </div>
    <div class="col-xs-12 col-sm-9">
        <h3><a href="#">Tìm hiểu công nghệ thông tin</a></h3>
        <p style="text-align:justify">
            Chương trình chú trọng nhiều đến việc phát triển các kiến thức chuyên môn nghiệp vụ và các kỹ năng mềm. Sinh viên được cung cấp kiến thức quản trị cũng như nắm vững kiến thức cơ bản của ngành tài chính, hiểu biết môi trường kinh doanh trong nước và quốc tế. Đặc biệt, sinh viên sẽ được học cách ứng dụng CNTT vào trong công việc, học cách tư duy công nghệ trong lĩnh vực chuyên môn.
        </p>
        <p>Lượt Xem: 30 | Lượt Down: 50 </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-3">
        <a href="#"><img height="200" width="100%" src="~/Content/Images/tải xuống (2).jpg" /></a>
    </div>
    <div class="col-xs-12 col-sm-9">
        <h3><a href="#">Tìm hiểu công nghệ thông tin</a></h3>
        <p style="text-align:justify">
            Chương trình chú trọng nhiều đến việc phát triển các kiến thức chuyên môn nghiệp vụ và các kỹ năng mềm. Sinh viên được cung cấp kiến thức quản trị cũng như nắm vững kiến thức cơ bản của ngành tài chính, hiểu biết môi trường kinh doanh trong nước và quốc tế. Đặc biệt, sinh viên sẽ được học cách ứng dụng CNTT vào trong công việc, học cách tư duy công nghệ trong lĩnh vực chuyên môn.
        </p>
        <p>Lượt Xem: 3 | Lượt Down: 10 </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-3">
        <a href="#"><img height="200" width="100%" src="~/Content/Images/tải xuống (2).jpg" /></a>
    </div>
    <div class="col-xs-12 col-sm-9">
        <h3><a href="#">Tìm hiểu công nghệ thông tin</a></h3>
        <p style="text-align:justify">
            Chương trình chú trọng nhiều đến việc phát triển các kiến thức chuyên môn nghiệp vụ và các kỹ năng mềm. Sinh viên được cung cấp kiến thức quản trị cũng như nắm vững kiến thức cơ bản của ngành tài chính, hiểu biết môi trường kinh doanh trong nước và quốc tế. Đặc biệt, sinh viên sẽ được học cách ứng dụng CNTT vào trong công việc, học cách tư duy công nghệ trong lĩnh vực chuyên môn.
        </p>
        <p>Lượt Xem: 80 | Lượt Down: 10 </p>
    </div>
</div>
<div class="pagination" style="float:right">
    <a href="#" class="page gradient">first</a><a href="#" class="page gradient">2</a>
    <a href="#" class="page gradient">3</a>
    <span class="page active">4</span>
    <a href="#" class="page gradient">5</a>
    <a href="#" class="page gradient">6</a>
    <a href="#" class="page gradient">last</a>
</div>