
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>About</h2>

 <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Option</th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Cơ sở Dữ liệu</td>
                    <td>Approved</td>
                    <td>
                        <button class="btn-info">Edit</button>
                        <button class="btn-info">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Quản Trị Mạng</td>
                    <td>Pending</td>
                    <td>
                        <button class="btn-info">Edit</button>
                        <button class="btn-info">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Java</td>
                    <td>Approved</td>
                    <td>
                        <button class="btn-info">Edit</button>
                        <button class="btn-info">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Lập Trình Cơ Bản Với C</td>
                    <td>Pending</td>
                    <td>
                        <button class="btn-info">Edit</button>
                        <button class="btn-info">Delete</button>
                    </td>
                </tr>
            </table>
        </div>  