
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div>
    <div class="modal-header">
        <select id="sort" name="Sort" style="float:right">
            <option value="">--Choose--</option>
            <option value="0">Ngày upload</option>
            <option value="1">Lượt rating</option>
            <option selected="selected" value="2">All</option>
        </select>
        <label>All: </label><br />
     </div>
        <div class="row">
            <div class="col-sm-4">
                <img src="~/Content/Images/TL1.png" />
            </div>
            <div class="col-sm-8">
                <p>Thật ra Lập Trình Hướng Đối Tượng trở nên đáng sợ đối với rất nhiều lập trìnhviên bởi nó mang đến các cú pháp khá mới mẻ và cầu kỳ ,do vậy nó nhanh chóng trở nên phức tạp hơnrất nhiều so với lập trình hướng thủ tục. </p>
                @Html.ActionLink("Xem chi tiết...", "", "")
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-4">
                <img src="~/Content/Images/TL2.png" />
            </div>
            <div class="col-sm-8">
                <p>ASP.Net là kỹ thuật lập trình và phát triển ứng dụng web ở phía Server (Server-side) dựa trên nền tảng của Microsoft .Net Framework.</p>
                @Html.ActionLink("Xem chi tiết...", "", "")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img src="~/Content/Images/TL3.png" />
            </div>
            <div class="col-sm-8">
                <p>ASP.Net là kỹ thuật lập trình và phát triển ứng dụng web ở phía Server (Server-side) dựa trên nền tảng của Microsoft .Net Framework.</p>
                @Html.ActionLink("Xem chi tiết...", "", "")
            </div>
        </div>
</div>


