@model List<DocShare.Models.ChuyenDe>
@{
    ViewBag.Title = "MenuLeft";
}

       <div class="row" style="margin-bottom: 0px;">
    <div class="col-xs-12 col-md-12" style="background:	#0080FF;margin:0 auto;width:960px;height:40px;padding:0px;border:0px">
        <ul class="nav nav-tabs">
            <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
            @foreach (var item in Model)
            {
                <li>
                    @Html.ActionLink(@item.TenChuyenDe, "Listing", "TaiLieu")
                </li>
            }
        </ul>
    </div>
</div>
 
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
