@model List<DocShare.Models.ChuyenDe>
@{
    ViewBag.Title = "MenuLeft";
}

<div class="example">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <a href="#" class="list-group-item active">
                    Trang Chủ
                </a>
                <ul class="list-group">
                    @foreach (var item in Model)
                    {
                    <li class="list-group-item">
                        @item.TenChuyenDe   
                        <span class="label label-primary pull-right">234</span>
                    </li>
                    }
                </ul>
            </div>
        </div>
        @*<div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li><a href="">@Html.ActionLink("Trang Chủ","Index","Home")</a></li>
                </ul>
            @foreach (var item in Model)
            {
                <ul class="nav nav-tabs">
                    <li><a href="">@item.TenChuyenDe</a></li>
                </ul>
            }
            </div>
        </div>*@
    </div>
</div>      



