@model List<DocShare.Models.ChuyenDe>
@{
    ViewBag.Title = "MenuLeft";
}

<div class="example">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12" style="background:	#B22222;margin:0 auto;width:960px;padding:0px"> 
                <ul class="nav nav-tabs">
                    <li><a class="colorwhite" href="#">Trang Chủ </a></li>
                    @foreach (var item in Model)
                    {
                    <li>
                        <a class="colorwhite" href="#">@item.TenChuyenDe</a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>      
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
