@model List<DocShare.Models.ChuyenDe>
@{
    ViewBag.Title = "SeachAdvanced";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="detailDiv">
    <ul class="sb_dropdown" style="display: block;">
        <li class="sb_filter" style="text-align: center;padding-top:5px; color:#ffffff">Chuyên Đề</li>
        <li>
            <input type="checkbox" />
            <label for="all">
                <strong style="color:deepskyblue">Chọn tất cả</strong>
            </label>
        </li>
        <li>
            <input type="checkbox" />
            <label for="KyThuat">Kỹ Thuật</label>
        </li>
        <li>
            <input type="checkbox" />
            <label for="KinhTe">Kinh Tế</label>
        </li>
        <li>
            <input type="checkbox" />
            <label for="XaHoi">Xã Hội</label>
        </li>
        <li>
            <input type="checkbox" />
            <label for="YDuoc">Y Dược</label>
        </li>
        <li>
            <input type="checkbox" />
            <label for="XaHoi">Xã Hội</label>
        </li>
    </ul>
</div>