
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <img src="~/Content/Images/ND_TL.png" />
        </div>
        <div class="col-xs-6 col-md-4">
            <img src="~/Content/Images/TL1.png" />
        </div>
        <div class="col-xs-12 col-sm-5">

        </div>
        <div class="col-xs-12 col-sm-5">

        </div>
    </div>
</div>

